@font-face {
    font-family: 'Founders Grotesk Regul-bhO15AR3';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/ccd7aced-e87f-4368-bcd6-1c721e545cf1/foundersgrotesk-regular.woff') format('woff');
}