@font-face {
    font-family: 'Founders Grotesk Bold -zkdrTaV0';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/45dd7988-277c-428e-a3b5-a2f1b84219b3/founders-grotesk-bold-xcond.woff') format('woff');
}