@font-face {
    font-family: 'Founders Grotesk Mediu-uAoD5XFA';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/214a976d-8bf1-4a45-81c0-8c4c789702b8/founders-grotesk-medium-v2.woff') format('woff');
}