@font-face {
    font-family: 'Founders Grotesk Light-uETx54E5';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/9cfd8b5a-bcf8-497e-81ba-c2da4ecd576e/foundersgrotesk-lightitalic.woff') format('woff');
}