@font-face {
    font-family: 'Founders Grotesk Bold -551xLzHg';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/0cc938fc-a948-4f0f-b6c2-1d5b476be8b1/founders-grotesk-bold-xcond-2.woff') format('woff');
}