@font-face {
    font-family:'ITC Franklin Gothic St-Ecjy1pIK';
    font-style: normal;
    font-weight: 400;
    unicode-range:U+0100-0130, U+0132-0151, U+0154-024f, U+0259, U+1e00-1eff, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff;
    src:url('../../fonts/2231d035c5592cb3f3777bc20a62a101/itcfranklingothicstd-bkcditAdlamUnjoinedlatin-ext.woff2') format('woff2');
}
@font-face {
    font-family:'ITC Franklin Gothic St-Ecjy1pIK';
    font-style: normal;
    font-weight: 400;
    unicode-range:U+fa10, U+fa12-fa6d, U+fb00-fb04, U+fe10-fe19, U+fe30-fe42, U+fe44-fe52, U+fe54-fe66, U+fe68-fe6b, U+ff02, U+ff04, U+ff07, U+ff51, U+ff5b, U+ff5d, U+ff5f-ff60, U+ff66, U+ff69, U+ff87, U+ffa1-ffbe, U+ffc2-ffc7, U+ffca-ffcf, U+ffd2-ffd6;
    src:url('../../fonts/2231d035c5592cb3f3777bc20a62a101/itcfranklingothicstd-bkcditJP[3].woff2') format('woff2');
}
@font-face {
    font-family:'ITC Franklin Gothic St-Ecjy1pIK';
    font-style: normal;
    font-weight: 400;
    unicode-range:U+24d1-24ff, U+2503-2513, U+2515-2516, U+2518-251b, U+251d-2522, U+2524-259f, U+25a2-25a9, U+25b1, U+25b7, U+25c1, U+25c9-25ca, U+25d0-25d3, U+25e2-25e3;
    src:url('../../fonts/2231d035c5592cb3f3777bc20a62a101/itcfranklingothicstd-bkcditJP[57].woff2') format('woff2');
}
@font-face {
    font-family:'ITC Franklin Gothic St-Ecjy1pIK';
    font-style: normal;
    font-weight: 400;
    unicode-range:U+02d0, U+02dd, U+207a-207f, U+2081-2084, U+2153-2154;
    src:url('../../fonts/2231d035c5592cb3f3777bc20a62a101/itcfranklingothicstd-bkcditKR[99].woff2') format('woff2');
}
@font-face {
    font-family:'ITC Franklin Gothic St-Ecjy1pIK';
    font-style: normal;
    font-weight: 400;
    unicode-range:U+061f, U+0640, U+2015, U+201b, U+2020-2021, U+2030, U+204f, U+25cc, U+2e28-2e29, U+2e41, U+1e900-1e95f;
    src:url('../../fonts/2231d035c5592cb3f3777bc20a62a101/itcfranklingothicstd-bkcditAdlamUnjoinedadlam.woff2') format('woff2');
}
@font-face {
    font-family:'ITC Franklin Gothic St-Ecjy1pIK';
    font-style: normal;
    font-weight: 400;
    unicode-range:U+0251, U+0261, U+02c9, U+02ea-02eb, U+20dd-20de, U+2100;
    src:url('../../fonts/2231d035c5592cb3f3777bc20a62a101/itcfranklingothicstd-bkcditJP[59].woff2') format('woff2');
}
@font-face {
    font-family:'ITC Franklin Gothic St-Ecjy1pIK';
    font-style: normal;
    font-weight: 400;
    unicode-range:U+221e, U+2514, U+51f9, U+5270, U+5449, U+5824, U+59a5, U+5a29, U+5d07, U+5e16, U+60e3, U+614c, U+6276, U+643e, U+64ab, U+6562, U+6681, U+670b, U+6734, U+67af, U+6a3d, U+6b05, U+6dc0, U+6e4a, U+7259, U+732a, U+7409, U+78a7, U+7a6b, U+8015, U+809b, U+817a, U+830e, U+837b, U+85ab, U+8a23, U+8a93, U+8b00, U+8b19, U+8b21, U+8cbf, U+8fb0, U+901d, U+91b8, U+9320, U+932c, U+9688, U+96f6, U+9df2, U+ff6a;
    src:url('../../fonts/2231d035c5592cb3f3777bc20a62a101/itcfranklingothicstd-bkcditJP[73].woff2') format('woff2');
}
@font-face {
    font-family:'ITC Franklin Gothic St-Ecjy1pIK';
    font-style: normal;
    font-weight: 400;
    unicode-range:U+0000-00ff, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-2014, U+2016-201a, U+201c-201f, U+2022-202f, U+2031-204e, U+2050-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd;
    src:url('../../fonts/2231d035c5592cb3f3777bc20a62a101/itcfranklingothicstd-bkcditAdlamUnjoinedlatin.woff2') format('woff2');
}
@font-face {
    font-family:'ITC Franklin Gothic St-Ecjy1pIK';
    font-style: normal;
    font-weight: 400;
    unicode-range:U+02c7, U+02d8-02d9, U+02db, U+0307, U+1400-167f, U+18b0-18f5;
    src:url('../../fonts/2231d035c5592cb3f3777bc20a62a101/itcfranklingothicstd-bkcditCanadianAboriginalcanadian-aboriginal.woff2') format('woff2');
}
@font-face {
    font-family:'ITC Franklin Gothic St-Ecjy1pIK';
    font-style: normal;
    font-weight: 400;
    unicode-range:U+2105, U+2109-210a, U+210f, U+2121, U+2126-2127, U+212b, U+212e, U+2135, U+213b, U+21b8-21b9, U+21c4-21c6, U+21cb-21cc, U+21d0, U+21e6-21e9, U+21f5, U+2202-2203, U+2205-2206, U+2208-220b, U+220f, U+2211, U+2213, U+221a, U+221d, U+2220, U+2223, U+2225-2226, U+2228, U+222a-222e, U+2234-2237, U+223d, U+2243, U+2245, U+2248, U+224c, U+2260, U+2262, U+2264-2265, U+226e-226f, U+2272-2273, U+2276-2277, U+2283-2287, U+228a-228b, U+2295-2299, U+22a0, U+22a5, U+22bf, U+22da-22db, U+22ef, U+2305-2307, U+2318, U+2329-232a, U+23b0-23b1, U+23be-23cc, U+23ce, U+23da-23db, U+2423, U+2469-24c1, U+24c3-24d0;
    src:url('../../fonts/2231d035c5592cb3f3777bc20a62a101/itcfranklingothicstd-bkcditJP[58].woff2') format('woff2');
}
@font-face {
    font-family:'ITC Franklin Gothic St-Ecjy1pIK';
    font-style: normal;
    font-weight: 400;
    unicode-range:U+0370-0373, U+0376-03e1, U+03f0-03ff;
    src:url('../../fonts/2231d035c5592cb3f3777bc20a62a101/itcfranklingothicstd-bkcditDisplaygreek.woff2') format('woff2');
}
@font-face {
    font-family:'ITC Franklin Gothic St-Ecjy1pIK';
    font-style: normal;
    font-weight: 400;
    unicode-range:U+2080, U+208c-208e, U+2092, U+20db, U+20e0, U+2117, U+2120, U+2133, U+21a0, U+21af, U+21b5, U+21ba-21bb, U+21ca, U+2217-2219, U+2256, U+22b0-22b1, U+22b9, U+22c5-22c6, U+2304, U+230b, U+2313, U+2323, U+239b, U+239d-239e, U+23a0;
    src:url('../../fonts/2231d035c5592cb3f3777bc20a62a101/itcfranklingothicstd-bkcditSC[90].woff2') format('woff2');
}
