@font-face {
    font-family: 'Founders Grotesk Mediu-Vekg34lF';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/c4e53c1e-1963-467a-ac77-33f9750897e7/foundersgrotesk-medium.woff') format('woff');
}