@font-face {
    font-family: 'Founders Grotesk Regul-1PfMypsh';
    font-style: normal; 
    font-weight: 400; 
    unicode-range: U+000D-20AC;
    src: url('../../fonts/d92bda08-0295-4e1f-8514-9e3a4b6faf4d/founders-grotesk-regular-v2.woff') format('woff');
}